.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 500px;
  height: 800px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
