/* .InputContainer {
} */

.InputContainer > label {
  display: flex;
  align-items: center;
}

.InputContainer > label > input {
  padding: 5px;
  font-size: 0.825rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
}
